.container {
	width: 340px;
	margin: auto;
	margin-top: 50px;
}


.btn {
  font-size: 15px;
  padding: .6rem 1.5rem;
  margin: 4px 2px 4px 2px;
  width: 77.53px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	border: 0;
	border-radius: .125rem;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}


.btn:active {
	border: none;
	filter: brightness(85%);
	outline: none;
}

.btn:focus {
	outline:none;
}


.operator {
	background-color: #4285f4;
	color: white;
}


.equals {
	background-color: #d74444;
	color: white;
}


.on {
	background-color: #3b3b3b;
	color: white;
}

.btn-white {
	background-color: #fff;
  color: black;
}

.input {
  margin: 0 0 4px 0;
	padding: 10px 12px;
	width: 312px;
  border: 1px solid #aaa;
	text-align: right;
	border-radius: .25rem;
	font-size: 1rem;
}


